* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    overflow-x: hidden;
    background-color: $bg_color;
    position: relative;
}
select,
input,
textarea {
    &:focus {
        box-shadow: none !important;
    }
}
p {
    color: $light_black;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
ul {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}
img {
    width: 100%;
    height: 100%;
}

.section__padding {
    padding: 40px 0px;
    @media only screen and (min-width: 991px) {
        padding: 120px 0px;
    }
}
.section__padding-top {
    padding-top: 40px;
    @media only screen and (min-width: 991px) {
        padding-top: 120px;
    }
}
.section__padding-bottom {
    padding-bottom: 40px;
    @media only screen and (min-width: 991px) {
        padding-bottom: 120px;
    }
}
.main__title {
    font-size: 28px;
    line-height: 33px;
    color: $color_black;
    margin-bottom: 64px;
}
.section__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $color_black;
}
.section__sub-title {
    margin-bottom: 0%;
    margin-left: 20px;
}

//card
.card {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .card-box {
        .card-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-bottom: 10px;
        }
        .card-price {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
        }
        .card-title {
        }
        .card-para {
            font-size: 10px;
        }
        .card-feature-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li {
                margin-left: 10px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                span {
                    margin-left: 6px;
                    font-size: 11.2704px;
                    line-height: 14px;
                }
                img {
                    width: 19px;
                    height: 19px;
                }
            }
            li:first-child {
                margin-left: 0px;
            }
        }
    }
    @media only screen and (min-width: 991px) {
    }
}

//button
button {
    &:focus {
        box-shadow: none !important;
    }
}
.btn {
    background-color: white;
    box-shadow: none;
    &:focus {
        outline: none;
    }
}
.section__btn {
    width: 70px;
    height: 25px;
    color: $color_black;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.btn-primary {
    background-color: $color_green;
    color: $color_white;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    padding: 14px 32px;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    width: fit-content;
    &:hover {
        background-color: $color_white;
        color: $color_green;
        border: 1px solid $color_green;
    }
}
.btn-secondary {
    background-color: $color_white;
    color: $color_green;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.3s ease-in-out;
    border: 1px solid $color_green;
    &:hover {
        background-color: $color_green;
        color: $color_white;
        border: 1px solid transparent;
    }
}
.btn-buttom {
    position: absolute;
    bottom: 20px;
}
.btn-send {
    margin-top: 50px !important;
    margin: auto;
    width: 297.89px;
    height: 86.88px;
    font-size: 32px;
    line-height: 38px;
}

.main-box {
    background-color: $color_white;
    padding: 24px 0px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 28px;
}
